{% extends 'MainBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}contacto.thankyou{% endtrans %} |
{% endblock %}
{% block description %}
{% endblock %}
{% block recursos %}
{% endblock recursos %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="menu-nivel-uno-lateral-izq">
        </div>
        <div class="menu-nivel-uno-lateral-der-addons">
            <h1>{% trans %}contacto.thankyou{% endtrans %}</h1>
            <p>{% trans %}contacto.thankyoutext{% endtrans %}</p>
        </div>
    </div>
{% endblock %}
{% block peuidiomes %}
    {% if app.request.locale != 'ca' %}<a href="{{ path('thankyou_ca', {'_locale' : 'ca'}) }}">català</a> ·{% endif %}
    {% if app.request.locale != 'es' %}<a href="{{ path('thankyou_es', {'_locale' : 'es'}) }}">español</a> {% if app.request.locale != 'en' %}·{% endif %}{% endif %}
    {% if app.request.locale != 'en' %}<a href="{{ path('thankyou_en', {'_locale' : 'en'}) }}">english</a>{% endif %}<br/>
{% endblock %}