<div class="login-logo">
    <a href="{{ path('sonata_admin_dashboard') }}">
        <img src="{{ asset('bundles/main/images/favicon.png') }}" alt="{{ sonata_admin.adminPool.title }}">
    </a>
</div>
